<h2 *ngIf="!plan" align="center" xmlns="">Loading data...</h2>

<div class="ui-g" *ngIf="plan">
  <div class="ui-g-12">
    <div class="card card-w-title">

      <div class="ui-g">
        <div class="ui-g-6 ui-g-nopad">
          <h1 style="margin: 0;">Plan hospitacji: <b>{{plan.documentNumber}}</b><br>Semestr: <b>{{plan.semester.toString()}}</b>
          </h1>
        </div>

        <div class="ui-g-6 ui-g-nopad">
          <button pButton [routerLink]="['/','plan','edit',plan.id]" label="Zapisz" icon="fa-floppy-o"
                  style="float: right; margin: 10px 0;"></button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="ui-g" *ngIf="plan && teachers">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g">

        <div class="ui-g-6 ui-g-nopad">
          <h1>Dodaj hospitacje do planu</h1>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <button pButton (click)="addAuditing()" label="Dodaj" icon="fa-plus" style="float: right;"
                  [disabled]="!newGroup || !dateOfCompletion || !newCommittee.chairman"></button>
        </div>

        <div class="ui-g-4 ui-sm-12">
          <label class="ui-g-12" for="groupCode">Kod kursu</label>
        </div>
        <div class="ui-g-4 ui-sm-12">
          <p-autoComplete id="groupCode" [(ngModel)]="newGroup" [suggestions]="filteredGroups"
                          (onBlur)="refreshDates()" (completeMethod)="searchGroup($event)" field="label"
                          autoHighlight="true" emptyMessage="Brak wyników" [style]="{'width':'100%'}"
                          [inputStyle]="{'width':'100%'}"></p-autoComplete>
        </div>
        <div class="ui-g-4 ui-sm-12">
          <p-message *ngIf="!newGroup?.value" severity="info" text="Uzupełnij kod grupy"></p-message>
        </div>

        <div *ngIf="newGroup?.value" class="ui-g-4 ui-sm-12">
          <label class="ui-g-12" for="dateOfCompletion">Termin</label>
        </div>
        <div *ngIf="newGroup?.value" class="ui-g-4 ui-sm-12">
          <p-dropdown id="dateOfCompletion" [options]="dates" [(ngModel)]="dateOfCompletion"
                      placeholder="Wybierz termin" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div *ngIf="newGroup?.value" class="ui-g-4 ui-sm-12">
        </div>

        <div *ngIf="newGroup?.value" class="ui-g-8 ui-sm-12">
          <p-autoComplete [(ngModel)]="newTeacher" [suggestions]="filteredTeachers" placeholder="Dodaj członka komisjii"
                          (keyup.enter)="addMember(newCommittee, newTeacher)" emptyMessage="Brak wyników"
                          autoHighlight="true" (completeMethod)="searchTeacher($event, newCommittee.members)"
                          field="label"></p-autoComplete>
          <button pButton icon="fa-plus" style="margin-left: 3px;"
                  (click)="addMember(newCommittee, newTeacher)"></button>
        </div>
        <div *ngIf="newGroup?.value && !newCommittee.chairman" class="ui-g-4 ui-sm-12" style="text-align: right;">
          <p-message severity="error" text="Komisja musi mieć przewodniczącego!"></p-message>
        </div>
        <div *ngIf="newGroup?.value" class="ui-g-12">
          <p-dataList [value]="newCommittee.members" emptyMessage="Dodaj nowych członków">
            <p-header>
              Nowa komisja hospitacyjna
            </p-header>
            <ng-template let-row pTemplate="item">
              <div class="ui-g">
                <div class="ui-g-9">
                  <p>{{row.toString()}}</p>
                </div>

                <div class="ui-g-3" style="text-align: right;">
                  <p-toggleButton *ngIf="row.canBeChairman()" [ngModel]="newCommittee.chairman == row" onLabel=""
                                  offLabel="" onIcon="fa-users" pTooltip="Przewodniczący komisjii"
                                  offIcon="fa-user" (onChange)="setChairman(newCommittee, row)"></p-toggleButton>

                  <button pButton icon="fa-trash-o" style="margin: 6px 10px"
                          (click)="deleteMember(newCommittee, row)"></button>
                </div>
              </div>
            </ng-template>
          </p-dataList>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="ui-g" *ngIf="plan && teachers">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div #parentEdit class="ui-g">

        <div class="ui-g-6 ui-g-nopad">
          <h1>Hospitacje</h1>
        </div>

        <div class="ui-g-6 ui-g-nopad">
          <p align="right" *ngIf="plan.auditing">
            Liczba hospitacji: {{plan.auditing.length}}
          </p>
        </div>

        <p-dataTable (window:resize)="onResize($event)" [value]="plan.auditing" *ngIf="plan.auditing"
                     [scrollable]='true' [scrollWidth]="parentEdit.offsetWidth + 'px'">

          <p-column [style]="{'width':'150px'}" field="group.name" header="Nazwa kursu" [sortable]="true"></p-column>

          <p-column [style]="{'width':'75px'}" field="group.code" header="Kod kursu" [sortable]="true"></p-column>

          <p-column [style]="{'width':'90px'}" field="group.places" header="Liczba zapisanych"
                    [sortable]="true"></p-column>

          <p-column [style]="{'width':'75px'}" header="Miejsce">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <span>{{row.group.building + " - " + row.group.room}}</span>
            </ng-template>
          </p-column>

          <p-column [style]="{'width':'150px'}" field="audited" header="Hospitowany" [sortable]="true">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <span>{{row.audited.toString()}}</span>
            </ng-template>
          </p-column>

          <p-column [style]="{'width':'100px'}" field="dateOfCompletion" header="Termin hospitacji" [sortable]="true">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <span>{{formatDate(row.dateOfCompletion)}}</span>
            </ng-template>
          </p-column>

          <p-column [style]="{'width':'270px', 'padding':'0px'}" header="Zaakceptowany">
            <ng-template let-col let-row="rowData" let-i="indexData" pTemplate="body">

              <div class="ui-g-12 fnn-separator">
                <p-autoComplete [(ngModel)]="row.newTeacher" [suggestions]="filteredTeachers" autoHighlight="true"
                                placeholder="Dodaj członka komisjii" field="label" emptyMessage="Brak wyników"
                                (completeMethod)="searchTeacher($event, row.committee.members)"
                                (keyup.enter)="addMember(row.committee, row.newTeacher, row)"></p-autoComplete>
                <button pButton icon="fa-plus" style="margin-left: 3px;"
                        (click)="addMember(row.committee, row.newTeacher, row)"></button>
              </div>

              <div class="ui-g-12 fnn-separator" *ngFor="let m of row.committee.members">
                <div style="display: inline-block; padding: .4em;">
                  {{m.toString()}}
                </div>

                <div style="display: inline-block; float: right;" class="">
                  <p-toggleButton *ngIf="m.canBeChairman()" [ngModel]="row.committee.chairman == m" onLabel=""
                                  offLabel="" onIcon="fa-users" pTooltip="Przewodniczący komisjii"
                                  offIcon="fa-user" (onChange)="setChairman(row.committee, m)"></p-toggleButton>
                  <button pButton icon="fa-trash-o" style="margin-left: 3px;"
                          (click)="deleteMember(row.committee, m)"></button>
                </div>
              </div>

              <div *ngIf="!row.committee.chairman" class="ui-g-12 fnn-separator">
                <p-message severity="error" text="Komisja musi mieć przewodniczącego!"></p-message>
              </div>


            </ng-template>
          </p-column>

          <p-column [style]="{'width':'60px','text-align':'center'}" header="Usuń">
            <ng-template let-col let-i="rowIndex" pTemplate="body">
              <button pButton icon="fa-trash-o" (click)="deleteAuditing(i)"></button>
            </ng-template>
          </p-column>

          <ng-template pTemplate="emptymessage">
            <p align="center">Brak hospitacji</p>
          </ng-template>

        </p-dataTable>

        <div class="ui-g-12" *ngIf="!plan.auditing">
          <p align="center">Loading...</p>
        </div>

      </div>
    </div>
  </div>
</div>
