<div class="topbar">
  <div>
    <a routerLink="/" class="topbar-logo">
      <img src="assets/img/iz.png" style="display: inline-block;">
      <span style="display: inline-block;margin-left: 20px;color: #3e4473;font-size: 20px;">
        Wydział informatyki i zarządzania
      </span>
    </a>

    <a href="#" id="menu-button" style="vertical-align: baseline;" (click)="app.onMenuButtonClick($event)">
      <i class="fa fa-bars"></i>
    </a>

    <a href="#" id="user-display" (click)="app.onTopbarMenuButtonClick($event)">
      <span class="username">Grzegorz Brzęczyszczykiewicz</span>
      <img src="assets/layout/images/avatar.png" style="border: 0px;">
      <i class="fa fa-angle-down"></i>
    </a>

    <ul id="topbar-menu" class="fadeInDown" [ngClass]="{'topbar-menu-visible': app.topbarMenuActive}"
        (click)="app.onTopbarMenuClick($event)">
      <li>
        <a href="#">
          <i class="fa fa-fw fa-cog"></i>
          <span>Ustawienia</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-fw fa-sign-out"></i>
          <span>Wyloguj</span>
        </a>
      </li>
    </ul>
  </div>

</div>
