<ng-template ngFor let-child let-i="index" [ngForOf]="(root ? item : item.items)">
  <li [ngClass]="{'active-menuitem': isActive(i)}" [class]="child.badgeStyleClass">
    <a [href]="child.url||'#'" (click)="itemClick($event,child,i)" *ngIf="!child.routerLink"
       [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target"
       (mouseenter)="hover=true" (mouseleave)="hover=false">
      <i [ngClass]="child.icon"></i>
      <span>{{child.label}}</span>
      <span class="menuitem-badge" *ngIf="child.badge">{{child.badge}}</span>
      <i class="fa fa-fw fa-angle-down" *ngIf="child.items"></i>
    </a>

    <a (click)="itemClick($event,child,i)" *ngIf="child.routerLink"
       [routerLink]="child.routerLink" routerLinkActive="active-menuitem-routerlink"
       [routerLinkActiveOptions]="{exact: true}" [attr.tabindex]="!visible ? '-1' : null"
       [attr.target]="child.target"
       (mouseenter)="hover=true" (mouseleave)="hover=false">
      <i [ngClass]="child.icon"></i>
      <span>{{child.label}}</span>
      <span class="menuitem-badge" *ngIf="child.badge">{{child.badge}}</span>
      <i class="fa fa-fw fa-angle-down" *ngIf="child.items"></i>
    </a>
    <div class="layout-menu-tooltip">
      <div class="layout-menu-tooltip-arrow"></div>
      <div class="layout-menu-tooltip-text">{{child.label}}</div>
    </div>
    <app-submenu [item]="child" *ngIf="child.items" [visible]="isActive(i)" [reset]="reset"
                 [@children]="app.slimMenu&&root ? isActive(i) ? 'visible' : 'hidden' : isActive(i) ? 'visibleAnimated' : 'hiddenAnimated'"></app-submenu>
  </li>
</ng-template>
