.dashboard {
  .ui-panel {
    border-color: $dividerColor;

    .ui-panel-titlebar {
      border-color: $dividerColor;
    }
  }

  .overview-box {
    .overview-box-title {
      font-size: 14px;
      width: 100%;
    }

    .overview-box-details {
      width: 100%;
      padding: 8px 0;

      .overview-box-details-icon {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 8px;
      }

      .overview-box-details-count {
        font-size: 24px;
        vertical-align: middle;
      }
    }

    &.overview-box-1 {
      .overview-box-details-icon {
        color: $blue;
      }
    }

    &.overview-box-2 {
      .overview-box-details-icon {
        color: $purple;
      }
    }

    &.overview-box-3 {
      .overview-box-details-icon {
        color: $turquoise;
      }
    }

    &.overview-box-4 {
      .overview-box-details-icon {
        color: $orange;
      }
    }
  }

  .global-sales {
    padding-top: 1em;

    .ui-panel-titlebar {
      padding-left: 110px;
    }

    .ui-panel-content {
      padding: 5px 0 0 0;
      position: relative;

      button {
        float: right;
        margin-right: 12px;
      }

      .sale-interval {
        margin-left: 110px;
      }

      .globe {
        border: 1px solid $dividerColor;
        position: absolute;
        left: -1px;
        top: -40px;
        width: 100px;
        height: 75px;
        text-align: center;
        background-color: #ffffff;

        img {
          margin-top: 15px;
          line-height: inherit;
          display: inline-block;
        }
      }
    }

    table {
      margin-top: 20px;
      width: 100%;
      font-size: 14px;
      border-collapse: collapse;

      tr {
        &:nth-child(odd) {
          background: #f6f8f9;
        }

        td {
          &:first-child {
            text-align: center;
          }

          padding: 10px 14px;
        }

        .fa-arrow-up {
          color: #3eb839;
        }

        .fa-arrow-down {
          color: #e17576;
        }
      }
    }
  }

  .stats {
    padding-top: 1em;

    .ui-panel-content {
      padding-top: 12px;
      min-height: 312px;
    }

    .knob-container {
      text-align: center;

      .knob {
        width: 190px;
        height: 190px;
        line-height: 190px;
        margin-top: 20px;
        font-size: 75px;
        color: #6a6a7d;
        @include border-radius(50%);
        display: inline-block;
        text-align: center;
        border: 5px solid $green;
        border-left-color: lighten($green, 30%);
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 10px 0;
        text-align: right;

        .statsbar-text {
          display: block;
        }

        .statsbar {
          width: 80%;
          background-color: $dividerColor;
          margin-top: 12px;
          display: inline-block;

          .statsbar-value {
            background-color: $green;
            height: 4px;
          }
        }
      }

    }

  }

  .task-list {
    overflow: hidden;

    > .ui-panel {
      min-height: 340px;
    }

    .ui-panel-content {
      padding: 0px !important;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 6px 12px;
        border-bottom: 1px solid $dividerColor;

        &:last-child {
          border-bottom: 0 none;
        }
      }

      .ui-chkbox {
        vertical-align: middle;
        margin-right: 5px;
      }

      .task-name {
        vertical-align: middle;
      }

      i {
        color: $textSecondaryColor;
        float: right;
        font-size: 16px;
      }
    }
  }

  .contact-form {
    overflow: hidden;

    .ui-panel {
      min-height: 340px;
    }

    .ui-g-12 {
      padding: 6px 12px;
    }

    .ui-button {
      margin-top: 4px;
    }
  }

  .contacts {
    overflow: hidden;

    > .ui-panel {
      min-height: 340px;
    }

    .ui-panel-content {
      padding: 0px !important;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: 1px solid $dividerColor;
        padding: 9px;
        width: 100%;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;
        display: block;
        @include border-radius(2px);
        @include transition(background-color .2s);

        img {
          float: left;
          margin-right: 8px;
        }

        .contact-info {
          float: left;

          .name {
            display: block;
            margin-top: 4px;
            font-size: 14px;
          }

          .location {
            margin-top: 4px;
            display: block;
            font-size: 12px;
            color: $textSecondaryColor;
          }
        }

        .contact-actions {
          float: right;
          padding-top: 12px;

          .connection-status {
            color: #ffffff;
            padding: 2px 3px;
            @include border-radius($borderRadius);

            &.online {
              background-color: #3fb839;
            }

            &.offline {
              background-color: #e17576;
            }
          }

          .fa {
            color: $textSecondaryColor;
            margin-left: 5px;
          }
        }

        &:last-child {
          border: 0;
        }
      }
    }
  }

  .user-card {
    border: 1px solid $dividerColor;
    @include border-radius($borderRadius);

    .user-card-header {
      height: 100px;
      overflow: hidden;
      background-color: $dividerColor;

      img {
        width: 100%;
      }
    }

    .user-card-content {
      min-height: 340px;
      background-color: #ffffff;

      img {
        margin: -40px 0 0 24px;
      }

      .ui-button {
        float: right;
        width: 2em;
        height: 2em;
        margin: 16px 24px 0 0;
      }

      .user-card-name {
        font-size: 20px;
        color: $textColor;
        position: relative;
        top: -70px;
        margin-left: 110px;
        font-weight: 700;
        white-space: nowrap;
      }

      .user-detail {
        text-align: left;

        ul {
          padding: 0px 0 32px 0;
          margin: 0;
          list-style-type: none;

          li {
            padding: 16px 24px;
            border-top: 1px solid $dividerColor;

            &:last-child {
              border-bottom: 1px solid $dividerColor;
            }

            i {
              font-size: 24px;
              margin-right: 8px;
              width: 32px;
              vertical-align: middle;
            }

            .project-title {
              font-weight: 700;
              margin-right: 8px;
            }

            .project-detail {
              color: $textSecondaryColor;
            }

            .project-progressbar {
              display: inline-block;
              width: 100px;
              background-color: $dividerColor;
              float: right;
              margin-top: 12px;

              .project-progressbar-value {
                background-color: $primaryColor;
                height: 4px;
              }
            }
          }
        }
      }
    }
  }

  .chat {
    .ui-panel-content {
      padding: 0 !important;
    }
    ul {
      padding: 12px;
      margin: 0;
      list-style-type: none;

      li {
        padding: 6px 0;

        img {
          width: 36px;
          float: left;
        }

        span {
          border: 1px solid $dividerColor;
          padding: 6px 12px;
          float: left;
          display: inline-block;
          margin: 4px 0;
          @include border-radius(10px);
        }

        &.message-from {
          img, span {
            float: left;
          }

          img {
            margin-right: 8px;
          }
        }

        &.message-own {
          img, span {
            float: right;
          }

          img {
            margin-left: 8px;
          }
        }
      }
    }

    .new-message {
      height: 40px;
      border-top: 1px solid $dividerColor;
      color: #afafc0;

      .message-attachment {
        display: inline-block;
        border-right: 1px solid $dividerColor;
        width: 40px;
        line-height: 40px;
        height: 100%;
        text-align: center;

        i {
          line-height: inherit;
          font-size: 24px;
        }
      }

      .message-input {
        position: relative;
        top: -4px;
        width: calc(100% - 100px);
        display: inline-block;

        input {
          border: 0 none;
          font-size: 14px;
          width: 100%;
          background-color: transparent;
          outline: 0 none;
          padding-left: 8px;
        }
      }
    }
  }

  .timeline {
    height: 100%;
    box-sizing: border-box;

    > .ui-g {
      .ui-g-3 {
        font-size: 14px;
        position: relative;
        border-right: 1px solid #bdbdbd;

        i {
          background-color: #ffffff;
          font-size: 24px;
          position: absolute;
          top: 6px;
          right: -12px;
        }
      }

      .ui-g-9 {
        padding-left: 1.5em;
        .event-owner {

        }

        .event-text {
          color: $textSecondaryColor;
          font-size: 14px;
          display: block;
          padding-bottom: 20px;
        }

        .event-content {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .chart-panel .ui-panel-content {
    overflow: auto;
  }
}

@media (max-width: 1024px) {
  .dashboard {
    .stats {
      ul {
        li {
          .statsbar {
            width: 100%;
          }
        }
      }
    }
  }
}
