.exception-body {
  background-size: cover;
  overflow: hidden;

  &.error {
    background-image: url("../images/exception/error-bg.png");
  }

  &.access {
    background-image: url("../images/exception/access-bg.png");
  }

  &.notfound {
    background-image: url("../images/exception/404-bg.png");
  }

  .exception-panel {
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 200px;

    .exception-panel-content {
      padding: 50px 50px 25px 50px;
      border-bottom: 8px solid #dee4e9;

      h1 {
        margin-top: 0;
        font-weight: 400;
      }

      p {
        font-weight: 400;
        margin-bottom: 0;
      }

      img {
        float: right;
        width: 40px;
      }
    }

    .exception-panel-footer {
      padding: 25px 50px 50px 50px;
    }
  }
}

@media (max-width: 640px) {
  .exception-body {
    .exception-panel {
      width: 100%;

      .ui-g-12 {
        padding: 15px 50px;
      }
    }
  }
}
