<h2 *ngIf="!plan" align="center">Loading data...</h2>

<div class="ui-g" *ngIf="plan">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g">

        <div class="ui-g-6 ui-g-nopad">
          <h1>Plan hospitacji: {{plan.documentNumber}}</h1>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <button pButton [routerLink]="['/','plan','edit',plan.id]" label="Edytuj" icon="fa-edit"
                  style="float: right;"></button>
        </div>

      </div>
    </div>
  </div>
</div>
