$topbarLeftBgColor: #4ecdc4;
$topbarRightBgColor: #556270;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: transparent;
$primaryColor: #4ecdc4;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #071413;
$darkMenuTextColor: #ffffff;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
