$topbarLeftBgColor: #642b75;
$topbarRightBgColor: #c6426e;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: transparent;
$primaryColor: #642b75;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #1e0c23;
$darkMenuTextColor: #ffffff;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
