$topbarLeftBgColor: #37a533;
$topbarRightBgColor: #37a533;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: #37a533;
$primaryColor: #37a533;
$primaryTextColor: #ffffff;
$accentColor: #3984b8;
$darkMenuBgColor: #393b3e;
$darkMenuTextColor: #f6f8f9;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
