/*           Common           */
$fontFamily: "Roboto", "Helvetica Neue", sans-serif;
$fontSize: 13px;
$textColor: #757575;
$textSecondaryColor: lighten($textColor, 25%);
$borderRadius: 2px;
$dividerColor: #dee4e9;
$transitionDuration: .3s;

$black: #000000;
$blue: #3984b8;
$orange: #f6ac2b;
$purple: #7e8dcd;
$pink: #e175a0;
$turquoise: #39b8b6;
$green: #3eb839;
$red: #e17576;
